body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
nav {
  height: 100px;
}
nav ul li {
  padding-right: 50px;
  margin-top: 15px;
}
h1 {
  font-size: 3em!important;
  margin: 0!important;
  padding-top: 20px!important;
}
h3 {
  text-transform: uppercase;
  font-size: 1.2em;
}
.row {
  width: 80%;
  /* margin: 0 auto; */
  margin-left: auto;
  /* margin-right: auto; */
}

li {
  margin-bottom: 2%;
  padding: 1% 2%;
}
.card {
  /* -webkit-box-shadow: none; */
  margin-right: 2%;
}